<section class="baner">
  <div class="baner__bg" style="background-image: url('./img/big-img.png');">
    <div class="container">
      <div class="baner__overlay"></div>
      <div class="baner__wrap">
        <div class="baner__text">
          <h1 class="baner__title">UNMATCHABLE</h1>
          <h2 class="baner__subtitle">SEO RESULTS: SEO+CONTENT</h2>
          <p>
            <span class="highlight">No Lock-in Contracts:</span> We operate on a
            month to month basis because we believe in providing the best value
            and service and letting the work speak for itself.
          </p>
          <p>
            <span class="highlight">Results Guaranteed:</span>
            If we do not meet any of our keyword guarantees we will work, for free
            until we do!
          </p>
          <p>
            <span class="highlight">Best SEO Service Guarantee:</span>
            If you find an Australian company that provides better value in terms
            of work, content creation and result, we’ll match it and beat it by
            10%.
          </p>
          <p>
            <span class="highlight">No Minimum Notice Period:</span>
            You can pause your campaign with us at any time, just send us an
            email.
          </p>
          <p>
            <span class="highlight">No Exit/Cancellation Fees:</span>
            You will never have to pay any cancellation/exit fee with us.
          </p>
          <p>
            <span class="highlight">100% Transparency:</span>
            Everything we do will be shared directly with you, we refuse to hide
            anything!
          </p>
          <p>
            <span class="highlight">Interactive Real-time Reporting:</span>
            Our dashboard will keep you up to date with the progress of your
            campaign, and you will not be wondering what is happening.
          </p>
        </div>
        <div class="baner__form">
          <form action="#" class="form">
            <h3 class="form__title">Contact Form</h3>
            <input type="text" name="Name" id="formName" placeholder="Name*" />
            <input type="text" name="Email" id="formEmail" placeholder="Email*" />
            <input
              type="text"
              name="Phone Number"
              id="formNumber"
              placeholder="Phone Number*"
            />
            <input
              type="text"
              name="Website"
              id="formWebsite"
              placeholder="Website*"
            />
            <input type="submit" value="GET MY FREE QUOTE" />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
