<section class="choose">
  <div class="container">
    <div class="choose__wrap">
      <h2 class="choose__title title text-centered">
        WHY BUSINESSES <span class="highlight">CHOOSE GWM</span>
      </h2>
      <h3 class="choose__subtitle subtitle text-centered">
        Work with an SEO agency that guarantees the success of its work.
      </h3>
      <ul class="choose__list">
        <li class="choose__item">
          <img src="./img/02-login.svg" alt="svg login" />
          <h4>No Lock-In Contracts</h4>
          <p>
            Aliquam non elit lacus. Praesent aliquet, ipsum id scelerisque
            convallis, mi ligula euismod odio, vel dictum mi risus a mi.
          </p>
        </li>
        <li class="choose__item">
          <img src="./img/research.svg" alt="svg login" />
          <h4>Results Guaranteed</h4>
          <p>
            If we do not meet any of our keyword guarantees we will work for
            free until we do!
          </p>
        </li>
        <li class="choose__item">
          <img src="./img/chat.svg" alt="svg login" />
          <h4>No Minimum Notice Period</h4>
          <p>
            You can pause your campaign with us at any time, just send us an
            email.
          </p>
        </li>
        <li class="choose__item">
          <img src="./img/credit-card.svg" alt="svg login" />
          <h4>No Exit/Cancellation Fees</h4>
          <p>
            Aliquam non elit lacus. Praesent aliquet, ipsum id scelerisque
            convallis, mi ligula euismod odio, vel dictum mi risus a mi.
          </p>
        </li>
        <li class="choose__item">
          <img src="./img/magnifying-glass.svg" alt="svg login" />
          <h4>100% Transparency</h4>
          <p>
            Everything we do will be shared directly with you; we refuse to hide
            anything!
          </p>
        </li>
        <li class="choose__item">
          <img src="./img/report.svg" alt="svg login" />
          <h4>Interactive Real-Time Reporting</h4>
          <p>
            Vestibulum scelerisque egestas lectus sit amet molestie. Donec
            consectetur cursus est sed blandit. Nunc sed risus lacus.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
