<section class="img-text bg-grey">
  <div class="container">
    <div class="img-text__wrap">
      <div class="img-text__row fd-row-reverse">
        <div class="img-text__text">
          <h2 class="img-text__title title">
            Your local <span class="highlight">SEO Expert</span>
          </h2>
          <p>
            When you choose to work with our SEO Sydney experts, you choose a
            personal and devoted approach to business. GWM doesn’t believe in
            discussing all matters via phone or email. Instead, we’d like to
            meet with you in person to go over your goals and expectations. This
            will help us establish a baseline for your marketing campaign and
            approach creating it exactly how you envisioned. No questions will
            remain unanswered, as our expert SEO Sydney team will always be at
            your disposal.
          </p>
          <p>
            Our ideas and plans for your company are no secret and we’ll be sure
            to fill you in on every part of the process. You’re included from
            day one and your voice and ideas will always be heard. If you’re not
            familiar with digital marketing at all, don’t worry, because our
            team will be happy to fill you in and explain the importance of each
            segment of digital marketing.
          </p>
        </div>
        <div class="img-text__img">
          <img src="./img/people.jpg" alt="Three persons" />
          <div class="overlay"></div>
        </div>
      </div>
    </div>
  </div>
</section>
