<section class="faq bg-grey">
  <div class="container">
    <div class="faq__wrap">
      <h2 class="faq__title title text-centered">
        <span class="highlight">F</span>aq
      </h2>

      <ul class="faq__list">
        <li class="faq__item">
          <h3 class="highlight">Are you an Australian based company?</h3>
          <p>
            Yes, absolutely. Green Web Marketing (GWM) is 100 percent
            Australian-owned. Our physical headquarters is in Sydney and we have
            branch offices in a number of other Australian and international
            cities. Our staff of technical experts, web designers and developers
            calls Sydney their home.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">Should I be concerned about Black Hat SEO?</h3>
          <p>
            To avoid penalties and other repercussions, we use 100 percent
            ‘White Hat’ SEO techniques to drive business to your website. All of
            our processes and techniques are above board and transparent to our
            customers. There is no chance that Google will ban your website due
            to underhanded SEO practices.v
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">What is SEO?</h3>
          <p>
            Search Engine Optimisation (SEO) is the process of making your
            website attractive to search engines. This is accomplished by
            on-page optimisation, creating high quality backlinks and other SEO
            strategies, techniques and tactics. This marketing is focused on
            increasing your visibility through the use of organic search
            results. Effective SEO also encompasses the creation of websites
            that are easier for search engines to understand. This has the happy
            effect of creating websites that are easier for human beings to
            understand as well. Combining ease of use for people with an
            increased search engine appeal is the goal of good SEO. At Green Web
            Marketing we are dedicated to fine-tuning that principle to give you
            the best website possible.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">
            Do I have to sign a contract locking me in with your company for an
            extended period?
          </h3>
          <p>
            No. Absolutely not. We want you to be comfortable with our process.
            We create a plan based on what you want for your company, determine
            how long it takes and set it in motion. We let you know how long it
            will take to achieve the results you are looking for, but don’t
            force you to sign a contract holding you to that time frame. If at
            any point you decide that our service is not what you need you can
            terminate it.
          </p>
          <p>
            Our success rate is high enough that we feel comfortable offering
            our service without a long-term contract.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">Why does my website need SEO?</h3>
          <p>
            The bulk of traffic on the internet is driven by one of the major
            search engines like Google or Bing. By appealing to these search
            engines, websites can generate more hits and visits. Social media
            sites like Facebook, Reddit and others can generate interest in your
            product or service, but most users turn to search engines to find
            authoritative information about their interests. No matter what
            product you produce or service you provide, the bulk of your page
            visits will be generated by search engines. Optimizing your website
            to generate more visits will boost page visits and sales.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">Do you guarantee Front Page ranking?</h3>
          <p>
            Although the various search engine algorithms have the final say on
            where your page is ranked, we are confident enough in our process
            that we do offer a guarantee on our work. We can guarantee that
            sites built around specific keywords will be listed on the Front
            Page of Google. GWM SEO Sydney has the trained professionals and
            knowledge to make that happen.
          </p>
          <p>
            For detailed information about ROI (Return on Investment) contact us
            at 1800 170 681.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">
            What kind of time frame does it take to reach the Front Page of
            Google?
          </h3>
          <p>
            There are so many factors that it is nearly impossible to give a
            time frame without knowing about your company. For websites that
            utilise competitive keywords it could take as long as six months or,
            for less competitive keywords, the time can be considerably less.
            Generally, getting to the front page will take between three and six
            months.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">
            How much information will I be given about GWM SEO Sydney’s process?
          </h3>
          <p>
            All of it. Our consultants will keep you up-to-date on the project
            and your dashboard can be used for real time correlations between
            efforts and results. In addition to enhancing your current online
            marketing plan, we will show you how the process works. All of the
            work we do is transparent to our clients.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">Online Reputation Management</h3>
          <p>
            A business needs a strong reputation both in its market and online.
            Positive reviews from your customers will prove that your business
            provides quality products or services and will encourage members of
            your target market to come to you. Search Engine Optimisation is a
            major aspect of any business, and will increase your company’s
            exposure on the internet. Our Organic SEO services can help increase
            your company’s website traffic, increase sales, and bring in new
            customers.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">Search Engine Optimisation benefits</h3>
          <p>
            Connecting your ideal market with your website when they are
            searching online is one of the best methods of bringing in new
            customers. We will improve search rankings for your website to
            attract visitors. If you run a local business, get more recognition
            of your name and brand by using a
            <span class="highlight">local SEO company</span>. We offer website
            optimisation for SEO, higher rankings in search engines, and a
            Facebook presence, which are easy and effective methods to increase
            exposure for your business.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">Online Reputation Management</h3>
          <p>
            Our company relies on giving the best service to our customers. We
            will optimize your website’s infrastructure, create content and
            establish links to increase your visibility. We create the
            conditions to maximize your online presence. All of these projects
            are fully documented and explained prior to implementation to keep
            your company aware of the full online and offline process.
          </p>

          <p>
            Specifically, since each company is unique, we custom make a plan
            for you. Contact us at
            <a href="tel:+1800170681" target="_blank">1800 170 681</a> or
            <a href="mailto:hello@gwm.com.au" target="_blank" class="highlight">
              hello@gwm.com.au
            </a>
            for detailed information.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">LinkBuilding Services</h3>
          <p>
            We offer a wide range of articles designed to improve your company’s
            web presence through social media, provided by a dedicated team of
            professionals. We create quality content for your website, blog, and
            social media platforms.
          </p>
          <p>
            <ul class="inner__list">
              <li>Manually created links</li>
              <li>
                Our SEO team will NEVER use the so-called “Black Hat” SEO techniques, 
                such as hidden text, cloaking, paid links, or doorway pages.
              </li>
              <li>Independent Class C websites</li>
              <li>12 month satisfaction guarantee</li>
            </ul>
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">Our SEO Campaigns</h3>
          <p>
            We offer tailored, full-service campaigns with strategies that are re-evaluated quarterly, 
            in order to produce consistent top rankings with search engines. Contact us to learn more 
            about our 360 degree SEO Sydney Services.
          </p>
          <p>
            <ul class="inner__list">
              <li>
                Page one search rankings through latest online marketing techniques
              </li>
              <li>
                Increased website traffic and far-reaching internet presence
              </li>
              <li>
                Improved visibility through Google and social media
              </li>
            </ul>
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">How much does it cost?</h3>
          <p>
            That’s a good question, and the answer is it depends on your business, the plan that we come 
            up with and how much work is involved in the process. Since we believe that each customer 
            is unique, we don’t have a set rate for our services. For a quote, call us at 1800 170 681 
            and we can work out what you need and how much it will cost.
          </p>
          <p>
            FYI, we have very competitive pricing.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">What are the most important factors for quality SEO?</h3>
          <p>
            Although the algorithm that search engines use is constantly evolving, there are five 
            basic elements that generate high returns on web searches. These are:
          </p>
          <p>
            <ul class="inner__list">
              <li>
                Clear and concise keywords research and keyword mapping
              </li>
              <li>
                Proper technical structure, online and offline optimization and the proper use of meta-tags
              </li>
              <li>
                High quality and original content
              </li>
              <li>
                Consistently high-quality source links and backlinks leading to or from your website.
              </li>
              <li>
                A winning SEO strategy designed and implemented based on your needs
              </li>
            </ul>
          </p>

          <p>
            There are other factors that will influence your search ranking but these five 
            have remained fairly consistent for the last couple of years.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">Search Engine optimisation for your Business</h3>
          <p>
            The importance of SEO is one of the fastest-growing facets of business.
            <ul class="inner__list">
              <li>The internet continues to be the fastest-growing method of attracting customers.</li>
            </ul>
          </p>

          <p>
            Other methods, such as direct mail, offer less potential for customers.
            <ul class="inner__list">
              <li>
                Your website is one of the most important aspects of your business, with 24/7 
                accessibility by visitors. Your website will continue to be one of the most 
                important sources of revenue.
              </li>
            </ul>
          </p>

          <p>
            SEO is a money-smart method of reaching customers.
            <ul class="inner__list">
              <li>
                This is a relatively low-cost marketing strategy to establish long-term relationships 
                with customers. Search Engine Optimisation Sydney is a cost-effective alternative 
                to traditional pay-per-click programs.
              </li>
            </ul>
          </p>

        </li>

        <li class="faq__item">
          <h3 class="highlight">Can I do my own SEO?</h3>
          <p>
            Sure, it’s not rocket science, but – and this is a big but – SEO is complex and is 
            constantly evolving. The rules that made web pages attractive to search engines five 
            years ago don’t have the same effect now. The basic concepts of SEO are simple and are 
            helpful to know whether you are a business manager or web designer. If you are willing 
            to learn the basics and devote time to create and maintain a SEO strategy for your 
            company, then you are well on your way to becoming an SEO professional.
          </p>
          <p>
            However, depending on the results you want and the complexity of your website, SEO is a 
            process that is best handled by professionals. From assigning keywords to creating content, 
            an established company has an advantage over the most talented amateur.
          </p>

          <p>
            GWM is more than happy to help you learn SEO. Whether you want to create and manage 
            your SEO on your own or use an experienced agency to aim for the front pages of Google, 
            having a professional and proven company on your side will help your efforts immensely.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">Can I choose my own keywords?</h3>
          <p>
            Well, sort of. During our consultation we will go over your keywords and 
            help create a set – including long-tailed keywords – that will give you 
            the best results. Choosing the best keywords for your business, now and in 
            the future, is part of our overall strategy to create the highest ROI possible.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">What makes SEO Sydney different from other companies?</h3>
          <p>
            SEO Sydney revels in the dichotomy of being a local company with a global reach. 
            We understand our customers and their needs, whether they are in Sydney, Vietnam, 
            the United States or Europe. We honed our skills at the local level and carried 
            that hometown feeling with us when we expanded globally.
          </p>
          <p>
            All of our consultants are highly-trained and qualified professionals that want to 
            make your business succeed. Our success rests on your success.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">How do we make sure I get the results we’re looking for?</h3>
          <p>
            Our clients come from all across the globe! We are constantly striving to drive strong 
            ROI through content marketing, SEM and SEO.
          </p>
          <p>
            We know it is tricky to choose the right digital marketing agency for your project. 
            Quality SEO service, content marketing & SEM is about putting a perfectly optimised 
            online marketing strategy into operation. When the right approach is implemented, 
            you stand to foster greater visibility and traffic than ever before.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">Why you need to work with our Search Engine Optimisation experts?</h3>
          <p>
            We have in-depth knowledge of search engine optimisation for both small 
            and medium size businesses.
          </p>
          <p>
            Green Web Marketing has powerful in-house tools and strategies in place and stands 
            for business owners and entrepreneurs who are serious about the online growth 
            of their business.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">What makes our Search Engine Optimization Services the real deal?</h3>
          <p>
            Our SEO agency in Sydney will dedicate themselves and go the extra mile to ensure your success.
          </p>
          <p>
            Search Engine Optimisation services in Sydney: We use strategies that boosts your online 
            presence in the organic section of Google and other search engines.
          </p>
          <p>
            The best training – Our local SEO experts are Google certified professionals and 
            the best SEO consultants in Sydney. They are trained by world renowned gurus and 
            they are able to run different in-house training sessions for your teams. At Green 
            Web Marketing we can teach you the skills to skyrocket the visibility for your brand.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">Looking for a marketing strategy that generates revenue?</h3>
          <p>
            Green Web Marketing will help you with an online marketing strategy that generates 
            revenue for your business. From brand consultation, sales, lead generation to 
            campaign management we can make your brand’s voice consistent across all social 
            media programs delivering the same message in the most valuable way.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">Our ambition is to help brands stand out</h3>
          <p>
            We tailor unique strategies to suit your business taking into account the personality 
            of your brand. Green Web Marketing understands that having a fan base means more business 
            for you. We optimise your brand to prospective users to get ahead. Let us help you reach 
            millions of people online with our content, Adwords, social media and SEO expertise.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">We are Your Leading SEO Consultants in Sydney</h3>
          <p>
            Green Web Marketing is your leading SEO agency in Sydney. Contact us now for a free quote. 
            We will help you beat your competition online through our strategic digital marketing. 
            We will manage every part of your online business to deliver high ROI with rapid growth. 
            We take full accountability and keep you up to date with detailed monthly reports so you 
            can track your improvements making sure you are getting a high return on your investment. 
            Call us now and let the best SEO agency in Sydney take care of the rest! When you are 
            ready to compete, we are ready to make you successful.
          </p>
        </li>
        
        <li class="faq__item">
          <h3 class="highlight">What type of results I can expect?</h3>
          <p>
            We make the process of search engine optimisation as clear to our customers as possible 
            while boosting leads and sales. This undertaking strengthens your brand authority and 
            makes your company a leader in your industry through content marketing. While doing 
            that we are working to save you money that can be better spent on your other business 
            needs. If you are serious about digital marketing and carving your share of a truly 
            unlimited market, GWM is the company you want in your corner. Our staff are professional, 
            trained and equipped to manage your SEO campaign and put you on top.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">Helping you is what we do</h3>
          <p>
            Although that sounds clichéd, it’s really not. Our success rests on your success. 
            Without successful clients we would be unable to claim our own success.
          </p>
          <p>
            If you need a new online marketing strategy or just a few tweaks to make you 
            more competitive, we can help.
          </p>
          <p>
            If you want your brand name to be considered an authority in your industry, we can help.
          </p>
          <p>
            If you want to expand your marketing campaign into social media, we can help.
          </p>
          <p>
            When it comes to online marketing, there is nothing we cannot help you achieve.
          </p>
        </li>

        <li class="faq__item">
          <h3 class="highlight">About GWM SEO</h3>
          <p>
            We are one of the main providers of white hat digital marketing in Australia. 
            We have over 40 experts and we service some of the biggest agencies.
          </p>
          <p>
            We currently rank one of our clients number 1 for the keyword “SEO Sydney” which 
            I’m sure you can appreciate is a very competitive keyword and we are happy to 
            show you how we achieved this.
          </p>
          <p>
            Could we can have a quick meeting with you so you can see the quality of our 
            dashboard and some of the results we’ve achieved.
          </p>
          <p>
            If after the presentation you like what you see, you can trial our service one 
            month and see the quality for yourself.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
