<section class="growth-plan">
  <div class="container">
    <div class="growth-plan__wrap">
      <h2 class="growth-plan__title title title--white text-centered">
        <span class="highlight--black">Our</span> SEO Sydney Growth Plan
      </h2>
      <p class="text-centered text-white">
        So, what are our secrets for appearing on page one of Google? There is
        no one secret ingredient, SEO is an ongoing process across a multitude
        of tactics. The starting point is to understand your competition and
        identify the most valuable keywords that will drive traffic to your
        website. We have listed the most important components of the strategies
        that we use for our clients below.
      </p>

      <ul class="growth-plan__list">
        <li class="growth-plan__item part">
          <h3 class="part__title text-centered">
            Part 1/4 – On-Site Audit And Optimisation
          </h3>
          <ul class="part__list">
            <li class="part__item">
              <div class="part__img">
                <img src="./img/part1.svg" alt="svg" />
              </div>
              <div class="part__text">
                <h4 class="highlight">On-site SEO Audit:</h4>
                <p>
                  In only two months, our talented team of SEO Sydney experts
                  ranked our website on the first page of Google for our main
                  keywords, one of which was “Corporate training”
                </p>
              </div>
            </li>
            <li class="part__item">
              <div class="part__img">
                <img src="./img/part2.svg" alt="svg" />
              </div>
              <div class="part__text">
                <h4 class="highlight">Market & Keyword research:</h4>
                <p>
                  With the help of multiple tools and programs, we can analyse
                  your target market and define your buyer persona. This lets us
                  know who you should target and allows us to focus on the most
                  relevant group of keywords. When we find them, we’ll list the
                  ones that bring the most benefits to your individual pages, as
                  well as your website.
                </p>
              </div>
            </li>
            <li class="part__item">
              <div class="part__img">
                <img src="./img/part3.svg" alt="svg" />
              </div>
              <div class="part__text">
                <h4 class="highlight">Competitor analysis:</h4>
                <p>
                  Whether you provide us with a list or we discover who your
                  direct competitors are by ourselves and how they’re
                  performing, we’ll find the best strategy they use and see
                  what’s most effective for them. This will allow us to learn
                  from their mistakes and come up with an even better strategy
                  for you, thus placing you higher in the search query.
                </p>
              </div>
            </li>
            <li class="part__item">
              <div class="part__img">
                <img src="./img/part4.svg" alt="svg" />
              </div>
              <div class="part__text">
                <h4 class="highlight">Delivery time:</h4>
                <p>
                  On average, the first step takes us around two weeks. The
                  timeline may change depending on the complexity and size of
                  the project.
                </p>
              </div>
            </li>
          </ul>
        </li>

        <li class="growth-plan__item part">
          <h3 class="part__title text-centered">
            Part 2/4 – On-Site Implementation And Optimisation
          </h3>
          <ul class="part__list">
            <li class="part__item">
              <div class="part__img">
                <img src="./img/part5.svg" alt="svg" />
              </div>
              <div class="part__text">
                <h4 class="highlight">Technical Website Audit:</h4>
                <p>
                  When deciding how to rank a website, Google uses over 200
                  ranking factors. We’ll check through your website thoroughly
                  to find the areas that need improvement. Speed, security,
                  visibility, non-existent pages, technical problems, and
                  content quality are all viable areas we’ll need to take a look
                  at. When we have the final list of things that need
                  improvement figured out, our team of developers will address
                  each issue individually and come up with the best course of
                  action to resolve it.
                </p>
              </div>
            </li>
            <li class="part__item">
              <div class="part__img">
                <img src="./img/part6.svg" alt="svg" />
              </div>
              <div class="part__text">
                <h4 class="highlight">Optimising High Return Landing Pages:</h4>
                <p>
                  Optimising the metadata for all the pages of your website is
                  implied, but we’ll also pay a lot of attention to the product
                  and services pages that we think will bring you a high return
                  on investment. Our keyword research process will tell us what
                  to do next. In some cases, we might need to create additional
                  pages for high volume keywords. We’ll propose an appropriate
                  reorganization of your website and its categories to give you
                  higher targeted traffic.
                </p>
              </div>
            </li>
            <li class="part__item">
              <div class="part__img">
                <img src="./img/part7.svg" alt="svg" />
              </div>
              <div class="part__text">
                <h4 class="highlight">Technical Implementation:</h4>
                <p>
                  After the audit completion, the issues you had will all be
                  resolved. You’ll have to approve of all the proposed stages
                  before we move on to the final stage of the second step. Of
                  course, we’re talking about implementing the changes. Of
                  course, our work doesn’t end here. We’ll continue tracking the
                  performance and progress of your website even once we
                  re-optimise it. Delivery time: It usually takes us arou
                </p>
              </div>
            </li>
            <li class="part__item">
              <div class="part__img">
                <img src="./img/part8.svg" alt="svg" />
              </div>
              <div class="part__text">
                <h4 class="highlight">Delivery time:</h4>
                <p>
                  It usually takes us around two weeks to finish the first step
                  of the process. Of course, the timeline may change depending
                  on the complexity and size of the project.
                </p>
              </div>
            </li>
          </ul>
        </li>

        <li class="growth-plan__item part">
          <h3 class="part__title text-centered">
            Part 3/4 – Off-Site Optimisation
          </h3>
          <ul class="part__list">
            <li class="part__item">
              <div class="part__img">
                <img src="./img/part9.svg" alt="svg" />
              </div>
              <div class="part__text">
                <h4 class="highlight">On-site SEO Audit:</h4>
                <p>
                  Our SEO Sydney team will also focus on off-site optimization.
                  Our experts know exactly how to help you get the recognition
                  you deserve in the digital world. All of our off-site
                  marketing activities are carefully planned and promise
                  results.
                </p>
              </div>
            </li>
            <li class="part__item">
              <div class="part__img">
                <img src="./img/part10.svg" alt="svg" />
              </div>
              <div class="part__text">
                <h4 class="highlight">Link Building:</h4>
                <p>
                  Increasing the number of quality links referring back to your
                  website is easy for our qualified team of SEO Sydney experts.
                  A backlink analysis will be required to discover the
                  low-quality links you’ll need to disavow. After we’re done
                  separating the good from the bad, we’ll start making the list
                  of linking opportunities to outreach.
                </p>
              </div>
            </li>
            <li class="part__item">
              <div class="part__img">
                <img src="./img/part11.svg" alt="svg" />
              </div>
              <div class="part__text">
                <h4 class="highlight">Blogging Outreach:</h4>
                <p>
                  Our SEO Sydney experts are aware of the importance of getting
                  your website featured on influential blogs and sites from your
                  niche. Thanks to our extensive experience, we already have a
                  list of contacts in every industry, thus easily giving you the
                  fast results you’re after.
                </p>
              </div>
            </li>
            <li class="part__item">
              <div class="part__img">
                <img src="./img/part12.svg" alt="svg" />
              </div>
              <div class="part__text">
                <h4 class="highlight">Delivery time:</h4>
                <p>
                  It usually takes us around two weeks to finish the first step
                  of the process. Of course, the timeline may change depending
                  on the complexity and size of the project.
                </p>
              </div>
            </li>
          </ul>
        </li>

        <li class="growth-plan__item part">
          <h3 class="part__title text-centered">
            Part 4/4 – Continual Reporting
          </h3>
          <ul class="part__list">
            <li class="part__item">
              <div class="part__img">
                <img src="./img/part13.svg" alt="svg" />
              </div>
              <div class="part__text">
                <h4 class="highlight">Regular reporting:</h4>
                <p>
                  Our SEO Sydney experts will report back on their progress on a
                  monthly or two-week basis, depending on your wishes and the
                  specifics of your digital marketing campaign. You’ll be able
                  to see all the milestones achieved to the specific date and
                  will easily be able to compare them to previous time periods.
                </p>
              </div>
            </li>
            <li class="part__item">
              <div class="part__img">
                <img src="./img/part14.svg" alt="svg" />
              </div>
              <div class="part__text">
                <h4 class="highlight">Real-time input:</h4>
                <p>
                  Transparency is our #1 policy. Each client gets a dashboard
                  where they can track the progress of their digital marketing
                  campaign in real-time. You can easily check up on the state of
                  your campaign on our user-friendly dashboard anytime you so
                  wish.
                </p>
              </div>
            </li>
            <li class="part__item">
              <div class="part__img">
                <img src="./img/part15.svg" alt="svg" />
              </div>
              <div class="part__text">
                <h4 class="highlight">Long-term commitment:</h4>
                <p>
                  Our SEO Sydney office prides itself on building strong
                  relationships with our clients. The campaign might be done,
                  but that doesn’t mean we’re done working together. We’ll still
                  be around to monitor its performance and make sure you’re on
                  the right track. It’s also not uncommon for our clients to
                  come back to us with interest in a different marketing method.
                  We’re always right and ready to comply instantly!
                </p>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
