<section class="in-touch">
  <div class="container">
    <div class="in-touch__wrap">
      <form action="#" class="in-touch__form">
        <h2 class="in-touch__title title text-centered">
          Get <span class="highlight">in Touch</span>
        </h2>
        <p class="in-touch__text text-centered">
          Contact us for a FREE SEO consultation. Complete the form below and we
          typically reply in less than 24 hours, so you can count on someone
          from the Green Web Marketing team to get back to you soon.
        </p>

        <div class="in-touch__row">
          <div class="in-touch__input">
            <label for="name">* What's your Name ?</label>
            <input type="text" name="name" id="inTouchName" />
          </div>
          <div class="in-touch__input">
            <label for="number">* What's your Number?</label>
            <input type="text" name="number" id="inTouchNumber" />
          </div>
          <div class="in-touch__input">
            <label for="email">* What's your Email?</label>
            <input type="email" name="email" id="inTouchEmail" />
          </div>
          <div class="in-touch__input">
            <label for="website">* What's your Website URL?</label>
            <input type="text" name="url" id="inTouchWebsite" />
          </div>
        </div>
        <div class="in-touch__textarea">
          <label for="achieve">
            * What Do You Want to Achieve From Your SEO Campaign?
          </label>
          <textarea name="goal" id="achieve"></textarea>
        </div>
        <div class="in-touch__check">
          <label>
            I ve read and agree with GWM Privacy Policy.
            <input type="checkbox" checked name="agree" />
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="in-touch__btn">
          <input type="submit" value="Send" />
        </div>
      </form>
    </div>
  </div>
</section>
