<section class="locations">
  <div class="container">
    <div class="locations__wrap">
      <h2 class="locations__title title text-centered">
        other <span class="highlight">locations</span>
      </h2>

      <ul class="locations__list">
        <li class="locations__item">
          <div class="locations__header">
            <div class="locations__map">
              <img src="./img/australia.png" alt="map of australia" />
              <img src="./img/point.svg" alt="point on the map" class="point" />
            </div>
            <h3>MELBOURNE</h3>
            <p>1/1 Macquaire St,</p>
            <p>Prahran, VIC 3181</p>
          </div>

          <div class="locations__footer">
            <a href="tel:+61731860370">+61 7 3186 0370</a>

            <button>view map</button>
          </div>
        </li>

        <li class="locations__item">
          <div class="locations__header">
            <div class="locations__map">
              <img src="./img/australia.png" alt="map of australia" />
              <img src="./img/point.svg" alt="point on the map" class="point" />
            </div>
            <h3>BRISBANE</h3>
            <p>2/2 Pittwin Rd N,</p>
            <p>Capalaba QLD 4157</p>
          </div>

          <div class="locations__footer">
            <a href="tel:+61731860370">+61 7 3186 0370</a>

            <button>view map</button>
          </div>
        </li>

        <li class="locations__item">
          <div class="locations__header">
            <div class="locations__map">
              <img src="./img/australia.png" alt="map of australia" />
              <img src="./img/point.svg" alt="point on the map" class="point" />
            </div>
            <h3>SYDNEY</h3>
            <p>702/ 122 Walker Street,</p>
            <p>North Sydney NSW 2060</p>
          </div>

          <div class="locations__footer">
            <a href="tel:+61289200255">+61 2 8920 0255</a>

            <button>view map</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
