<section class="img-text bg-grey">
  <div class="container">
    <div class="img-text__wrap">
      <div class="img-text__row fd-row-reverse">
        <div class="img-text__text">
          <h2 class="img-text__title title">
            Diverse Range of Digital
            <span class="highlight">Marketing Services</span>
          </h2>
          <p>
            SEO Sydney GWM is one of the top digital marketing agencies in
            Australia today. We started just like any other local business in
            Sydney- small. With hard work and diligence, we quickly became the
            number one digital marketing agency local businesses turn to for
            help. In the beginning, we only offered local SEO services and
            targeted high traffic to local business. Today, thanks to our
            continued hard work, we’re able to provide you with all kinds of
            digital marketing services. Our SEO services in Sydney are
            well-known, and you can come to us for anything from link building
            and content marketing to PPC and off-site marketing. Whatever area
            you choose to focus on, we’ve got your back. Of course, keep in mind
            that the most effective digital marketing campaign includes all
            aspects of digital marketing.
          </p>
          <p>
            Just because we’re recognized as local SEO Sydney experts doesn’t
            mean we forgot where we started, though. Each client we’ve worked
            with has helped us get us where we are today, which is why we never
            take your work for granted. We’ll always treat you like a dear
            friend and recognize your individuality as a business.
          </p>
        </div>
        <div class="img-text__img">
          <img src="./img/BY2A9804.jpg" alt="People write" />
          <div class="overlay"></div>
        </div>
      </div>
    </div>
  </div>
</section>
