<section class="method">
  <div class="container">
    <div class="method__wrap">
      <h2 class="method__title title text-centered">
        <span class="highlight">Our</span> SEO Method
      </h2>

      <h3 class="method__subtitle subtitle text-centered">
        We use established SEO strategies to attract your target market directly
        to your website.
      </h3>
      <ul class="method__list">
        <li class="method__item">
          <img src="./img/analysis.png" alt="svg login" />
          <h4>Website Analysis</h4>
          <div class="method__overtext">
            <h4>On-Page Optimisation</h4>
            <p class="text-centered">
              It is always important to understand what you’re up against. Our
              aim is to gain an understanding of your competitors and create a
              way for you to stand out.
            </p>
          </div>
        </li>
        <li class="method__item method__item--active">
          <img src="./img/analysis.png" alt="svg login" />
          <h4>Website Analysis</h4>
          <div class="method__overtext">
            <h4>On-Page Optimisation</h4>
            <p class="text-centered">
              It is always important to understand what you’re up against. Our
              aim is to gain an understanding of your competitors and create a
              way for you to stand out.
            </p>
          </div>
        </li>
        <li class="method__item">
          <img src="./img/keywords.png" alt="svg login" />
          <h4>Select Keywords</h4>
          <div class="method__overtext">
            <h4>On-Page Optimisation</h4>
            <p class="text-centered">
              It is always important to understand what you’re up against. Our
              aim is to gain an understanding of your competitors and create a
              way for you to stand out.
            </p>
          </div>
        </li>
        <li class="method__item">
          <img src="./img/creation.png" alt="svg login" />
          <h4>Content Creation</h4>
          <div class="method__overtext">
            <h4>On-Page Optimisation</h4>
            <p class="text-centered">
              It is always important to understand what you’re up against. Our
              aim is to gain an understanding of your competitors and create a
              way for you to stand out.
            </p>
          </div>
        </li>
        <li class="method__item">
          <img src="./img/links.png" alt="svg login" />
          <h4>In-bound Links</h4>
          <div class="method__overtext">
            <h4>On-Page Optimisation</h4>
            <p class="text-centered">
              It is always important to understand what you’re up against. Our
              aim is to gain an understanding of your competitors and create a
              way for you to stand out.
            </p>
          </div>
        </li>
        <li class="method__item">
          <img src="./img/optimization.png" alt="svg login" />
          <h4>On-Page Optimisation</h4>
          <div class="method__overtext">
            <h4>On-Page Optimisation</h4>
            <p class="text-centered">
              It is always important to understand what you’re up against. Our
              aim is to gain an understanding of your competitors and create a
              way for you to stand out.
            </p>
          </div>
        </li>
        <li class="method__item">
          <img src="./img/content.png" alt="svg login" />
          <h4>Quality Content</h4>
          <div class="method__overtext">
            <h4>On-Page Optimisation</h4>
            <p class="text-centered">
              It is always important to understand what you’re up against. Our
              aim is to gain an understanding of your competitors and create a
              way for you to stand out.
            </p>
          </div>
        </li>
        <li class="method__item">
          <img src="./img/statistics.png" alt="svg login" />
          <h4>Ongoing Search Engine Optimisation</h4>
          <div class="method__overtext">
            <h4>On-Page Optimisation</h4>
            <p class="text-centered">
              It is always important to understand what you’re up against. Our
              aim is to gain an understanding of your competitors and create a
              way for you to stand out.
            </p>
          </div>
        </li>
        <li class="method__item">
          <img src="./img/tracking.png" alt="svg login" />
          <h4>Reporting & Tracking</h4>
          <div class="method__overtext">
            <h4>On-Page Optimisation</h4>
            <p class="text-centered">
              It is always important to understand what you’re up against. Our
              aim is to gain an understanding of your competitors and create a
              way for you to stand out.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
