<section class="team">
  <div class="container">
    <div class="team__wrap">
      <h2 class="team__title title title--white text-centered">
        Why Partner with GWM SEO Agency
        <span class="highlight--black">Sydney?</span>
      </h2>
      <p class="text-centered">
        We are an SEO Agency in Sydney that is focussed on ROI. All of our
        strategies are driven by comprehensive competitor research, performance
        data, combined with years and years of experience developing effective
        SEO strategies that generate growth. Our expert SEO engineers and
        content developers know how to generate website traffic that will lead
        to high quality leads and sales.
      </p>
      <p class="text-centered">
        We are a passionate team of over 40 Sydney SEO specialists who will work
        directly with you and your marketing team to develop and implement a SEO
        strategy to meet your objectives. We’re very hands on and don’t
        outsource any aspect of our SEO campaigns. We promise you’ll deal
        directly with one of our dedicated SEO account managers on an ongoing
        basis. We’ll take the time to understand your business and objectives
        and use detailed research and analysis to ensure you get a great return
        on your investment.
      </p>
      <p class="text-centered">
        By working with GWM SEO Agency Sydney, you’ll work with an in-house team
        of SEO experts, without the cost needed to employ them in your own
        marketing team. We don’t lock you into any fixed contracts as we’d
        rather let our work and results do the talking for us. That said, any
        effective search engine optimization campaign is an ongoing investment
        and will typi-cally require a minimum 9-12 months time frame to be
        effective.
      </p>
    </div>
  </div>
  <div class="team__img-box">
    <img src="./img/big-img.png" alt="Image of team" />
  </div>
</section>
