<section class="video-section bg-grey">
  <div class="container">
    <div class="video-section__wrap">
      <div class="video-section__text">
        <h2 class="video-section__title title">
          GWM IS <span class="highlight">PROFICIENT</span>
        </h2>
        <p>
          The talented people at GWM Ranked our website on Page 1 of Google for
          our main keywords such as ‘Corporate Training’ in only two months.
        </p>
        <p class="video-section__author">
          <strong>Scott Epp</strong>
        </p>
        <p>
          <a
            href="mailto:breakthroughcorporatetraining.com.au"
            target="_blank"
            class="video-section__link"
          >
            breakthroughcorporatetraining.com.au
          </a>
        </p>
      </div>
      <div class="video-section__video video">
        <img src="./img/video3.jpg" alt="video" />
        <a
          data-fancybox
          href="./img/video3.jpg"
          class="video__btn"
        ></a>
      </div>
    </div>
  </div>
</section>
