<section class="video-section">
  <div class="container">
    <div class="video-section__wrap">
      <div class="video-section__text">
        <h2 class="video-section__title title">
          <span class="highlight">GWM</span> INTRO VIDEO
        </h2>
        <p>
          The talented people at GWM Ranked our website on Page 1 of Google for
          our main keywords such as ‘Corporate Training’ in only two months.
        </p>
        <p class="video-section__author">
          <strong>Ryan Burchey</strong>
        </p>
        <p>
          <a
            href="mailto:agseo.gwmwebserver.com"
            target="_blank"
            class="video-section__link"
          >
            agseo.gwmwebserver.com
          </a>
        </p>
      </div>
      <div class="video-section__video video">
          <img src="./img/video1.jpg" alt="video" />
        <a
          data-fancybox
          href="./img/video1.jpg"
          class="video__btn"
        ></a>
      </div>
    </div>
  </div>
</section>
