<section class="video-section">
  <div class="container">
    <div class="video-section__wrap fd-row-reverse">
      <div class="video-section__text">
        <h2 class="video-section__title title">
          GWM IS <span class="highlight">HONEST</span>
        </h2>
        <p>
          Within short period of time, we have 18 keywords on page #1 of Google
          which is an outstanding results and good return on investment.
        </p>
        <p class="video-section__author">
          <strong>Ziad</strong>
        </p>
        <p>
          <a
            href="mailto:totalappliancerepaircentre.com.au"
            target="_blank"
            class="video-section__link"
          >
            totalappliancerepaircentre.com.au
          </a>
        </p>
      </div>
      <div class="video-section__video video">
        <img src="./img/video4.jpg" alt="video" />
        <a
          data-fancybox
          href="./img/video4.jpg"
          class="video__btn"
        ></a>
      </div>
    </div>
  </div>
</section>
