<section class="video-section">
  <div class="container">
    <div class="video-section__wrap fd-row-reverse">
      <div class="video-section__text">
        <h2 class="video-section__title title">
          GWM IS <span class="highlight">MAGIC</span>
        </h2>
        <h3 class="video-section__subtitle subtitle highlight">
          BUT DON’T JUST TAKE OUR WORD FOR IT
        </h3>
        <p>
          Ben Kierath chose Green Web marketing for two of his businesses,
          Hoselink and True Pro-tein. In the video, Ben explains the service he
          received as well as some extraordinary results.
        </p>
        <p>
          <a
            href="mailto:hoselink.com.au"
            target="_blank"
            class="video-section__link"
          >
            hoselink.com.au
          </a>
          <br />
          <a
            href="mailto:trueprotein.com.au"
            target="_blank"
            class="video-section__link"
          >
            trueprotein.com.au
          </a>
        </p>
      </div>
      <div class="video-section__video video">
        <img src="./img/video2.jpg" alt="video" />
        <a
          data-fancybox
          href="./img/video2.jpg"
          class="video__btn"
        ></a>
      </div>
    </div>
  </div>
</section>
