        /*cursor*/
        
        .cursor {
            width: 16px;
            height: 16px;
            border: 1px solid $c-black;
            border-radius: 50%;
            opacity: 0.4;
            position: absolute;
            z-index: 1000;
            pointer-events: none;
            &__text {
                display: none;
                position: absolute;
                z-index: 500;
                top: -10px;
                left: 16px;
                right: -42px;
                bottom: 16px;
                animation: cursorAnim .5s;
                font-family: 'TT Travels';
                font-size: 8px;
                line-height: 10px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
            }
        }
        
        @keyframes cursorAnim {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }