.growth-plan {
  background-image: linear-gradient(
    to left,
    #3bb65c 0%,
    #2f9b4c 99%,
    #2f9b4c 100%
  );
  &__wrap {
    padding: 80px 0 95px;
    @include respond-below(md_plus) {
      padding: 60px 0 80px;
    }
    @include respond-below(md) {
      padding: 60px 0;
    }
    @include respond-below(sm) {
      padding: 40px 0;
    }
  }
  &__title {
    margin-bottom: 37px;
    @include respond-below(md_plus) {
      margin-bottom: 34px;
    }
    @include respond-below(md) {
      margin-bottom: 30px;
    }
    @include respond-below(sm) {
      margin-bottom: 26px;
    }
  }
  p.text-centered {
    margin-bottom: 60px;
    padding: 0 285px;
    font-family: $ff-base;
    font-size: 19px;
    font-weight: 500;
    line-height: normal;
    @include respond-below(md_plus) {
      margin-bottom: 50px;
      padding: 40px;
      line-height: 24.04px;
      font-size: 16px;
    }
    @include respond-below(md) {
      margin-bottom: 40px;
      padding: 10px;
      line-height: 22.04px;
    }
    @include respond-below(sm) {
      margin-bottom: 30px;
      padding: 0;
    }
  }
  &__item {
    margin-bottom: 20px;
    padding: 35px;
    border-radius: 5px;
    background-color: $color-white;
    @include respond-below(md_plus) {
      padding: 25px;
    }
    @include respond-below(md) {
      padding: 20px;
    }
    @include respond-below(sm) {
      padding: 10px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .part {
    &__list {
      margin: -20px -40px;
      display: flex;
      flex-wrap: wrap;
      @include respond-below(md) {
        margin: -20px 0;
      }
    }
    &__item {
      margin: 20px 40px;
      width: calc(100% / 2 - 80px);
      display: flex;
      @include respond-below(md) {
        margin: 20px 0;
        width: calc(100% / 1);
      }
      @include respond-below(xs) {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
      }
    }
    &__img {
      width: 85px;
      height: 85px;
      border: 3px solid $color-green;
      border-radius: 50%;
      background-color: $color-white;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__text {
      margin-left: 20px;
      @include respond-below(xs) {
        margin: 20px 0 0;
      }
    }
    &__title {
      margin-bottom: 42px;
      color: $color-black;
      font-family: $ff-base;
      font-size: 24px;
      font-weight: 700;
    }
    h4 {
      margin-bottom: 24px;
      font-family: $ff-base;
      font-size: 21px;
      font-weight: 700;
      @include respond-below(md) {
        margin-bottom: 20px;
      }
    }
    p {
      margin-bottom: 20px;
    }
  }
}
