.swiper {
    &-container {
        &:hover+.cursor .cursor__text {
            display: inline;
        }
    }
    &-slide {
        padding: 30vh 0;
        text-align: center;
        text-transform: uppercase;
        font-family: "Schnyder Cond XL Demi";
        font-size: 125.581px;
        font-weight: 600;
        line-height: 86%;
        color: $c-light;
        text-shadow: -1px 0 $c-brown, 0 1px $c-brown, 1px 0 $c-brown, 0 -1px $c-brown;
        @include respond-below(md_plus) {
            font-size: 96px;
        }
        @include respond-below(sm) {
            font-size: 48px;
        }
        @include respond-below(xs) {
            font-size: 44px;
        }
        &.swiper-slide-active {
            color: $c-brown;
        }
    }
}