$color-green: #3bb65c;
$color-green-hover: #2b9748;
$color-pink: #ff3366;
$color-pink-hover: #d6204e;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #f8f8fb;
$color-grey-hover: #dddddf;
$transition-base: all 0.3s ease;
$ff-base: Raleway;
